.invite
  %p
    Please give me access to the
    %br
    %a{ href: "#{team_url}", title: "#{team_name}", target: "_blank" }
      %b= team_name
    = "#Slack team!"

  %p <i>(And don't use my email for other purposes.)</i>


  %form(action="/invite" method="post")
    .field
      .label Name:
      %input(type="text" name="first_name")
    .field
      .label Email:
      %input(type="email" name="email")
    .field
      %input(type="submit")


- if defined? success
  .success
    = success


- if defined? failure
  .failure
    = failure
